* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 18px 'PT Sans';
}

body {
    background: #fff;
}

.wrapper {
    width: 100%;
    padding: 30px;
}

p {
    margin-bottom: 10px;
}

textarea {
    resize: none;
    width: 100%;
    border: solid #9E9E9E;
    border-width: 0;
    background: #EEEEEE;
    padding: 15px;
    height: 200px;
    border-radius: 5px;
}

textarea:focus {
    outline: none;
}

button {
    display: block;
    margin: 30px auto;
    border: solid #9E9E9E;
    border-width: 0 0 2px 0;
    background: #EEEEEE;
    padding: 15px 30px;
    font-weight: bold;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background: #E0E0E0;
}

button:focus {
    outline: none;
}

canvas {
    display: none;
    margin: auto;
    max-width: 100%;
}
